[submodule "ts-module-resolution-examples"]
	path = ts-module-resolution-examples
	url = https://github.com/IanVS/ts-module-resolution-examples.git
[submodule "mattpocock-stuff"]
	path = mattpocock-stuff
	url = https://github.com/alexvyber/mattpocock-stuff.git
[submodule "linting-typescript-in-2023"]
	path = linting-typescript-in-2023
	url = https://github.com/JoshuaKGoldberg/linting-typescript-in-2023.git
